@page "/interns"
@rendermode InteractiveServer

@using InternApp.Models
@inject InternApp.BLL.InternService internService
@inject NavigationManager Navigation

<h3>Intern List</h3>

<button class="btn btn-primary mb-3" @onclick="AddIntern">
    Add Intern
</button>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Duration (Months)</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @if (interns.Count == 0)
        {
            <tr>
                <td colspan="6" class="text-center">
                    No Interns Found
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in interns)
            {
                <tr>

                    <td>@item.Id</td>

                    <td>@item.Name</td>

                    <td>@item.Email</td>

                    <td>@item.Department</td>

                    <td>@item.DurationInMonths</td>

                    <td>

                        <button class="btn btn-warning btn-sm"
                                @onclick="() => EditIntern(item.Id)">
                            Edit
                        </button>

                        <button class="btn btn-danger btn-sm ms-2"
                                @onclick="() => DeleteIntern(item.Id)">
                            Delete
                        </button>

                    </td>

                </tr>
            }
        }

    </tbody>

</table>

@code
{
    private List<Intern> interns = new();

    protected override void OnInitialized()
    {
        LoadInterns();
    }

    private void LoadInterns()
    {
        interns = internService.GetInterns();
    }

    private void AddIntern()
    {
        Navigation.NavigateTo("/addintern");
    }

    private void EditIntern(int id)
    {
        Navigation.NavigateTo($"/editintern/{id}");
    }

    private void DeleteIntern(int id)
    {
        internService.DeleteIntern(id);
        LoadInterns();
    }
}
